  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.leparisien.fr/resizer/_Qgf9Z9wEwKqJdaGeGBaggxPA1s=/1280x800/arc-anglerfish-eu-central-1-prod-leparisien.s3.amazonaws.com/public/HAJOUE72SD4OBCQ7GZVVBZ3ZAQ.jpg);">
    <div class="container">
      <h1>LIST MOVIES</h1>
      <p>My movies lists !</p>
    </div>
  </div>

  <div class="container">
    <%= link_to 'Add list', new_list_path, class: 'btn btn-primary btn-lg btn-block my-5' %>
    <div class="d-flex">
      <div class="cards">
        <% @lists.each do |list| %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1616530940355-351fabd9524b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80)">
            <%= link_to list_path(list['id']) do %>
              <p><%= list.name %></p>
            <%end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
